name: WINDOWS CI

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: build ${{ matrix.target.os }} ${{ matrix.target.arch }}
    runs-on: ${{ matrix.target.os }}
    strategy:
      fail-fast: false
      matrix:
        target:
          - os: windows-latest
            arch: x64
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          allow-prereleases: false
      - name: Build wheel
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target.arch }}
          args: --release --out dist --interpreter '3.9 3.10 3.11 3.12 3.13'
          sccache: "true"
          manylinux: auto
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels
          path: dist

  test:
    name: test
    needs: [build]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: false
      - uses: actions/download-artifact@v4
        with:
          name: wheels
          path: dist
      - name: Install
        run: |
          pip install attribution flake8 maturin mypy pytest ufmt usort
          pip install --upgrade pip
          pip install --no-index --find-links dist/ --only-binary ruff-api ruff-api
          pip install ruff-api[dev]
      - name: Test
        run: |
          python -m ruff_api.tests
          python -m mypy -p ruff_api
